# Springboard Data Science Career Track Unit 4 Challenge - Tier 3 Complete

## Objectives
Hey! Great job getting through those challenging DataCamp courses. You're learning a lot in a short span of time.

In this notebook, you're going to apply the skills you've been learning, bridging the gap between the controlled environment of DataCamp and the *slightly* messier work that data scientists do with actual datasets!

Here’s the mystery we’re going to solve: ***which boroughs of London have seen the greatest increase in housing prices, on average, over the last two decades?***


A borough is just a fancy word for district. You may be familiar with the five boroughs of New York… well, there are 32 boroughs within Greater London [(here's some info for the curious)](https://en.wikipedia.org/wiki/London_boroughs). Some of them are more desirable areas to live in, and the data will reflect that with a greater rise in housing prices.

***This is the Tier 3 notebook, which means it's not filled in at all: we'll just give you the skeleton of a project, the brief and the data. It's up to you to play around with it and see what you can find out! Good luck! If you struggle, feel free to look at easier tiers for help; but try to dip in and out of them, as the more independent work you do, the better it is for your learning!***

This challenge will make use of only what you learned in the following DataCamp courses:
- Prework courses (Introduction to Python for Data Science, Intermediate Python for Data Science)
- Data Types for Data Science
- Python Data Science Toolbox (Part One)
- pandas Foundations
- Manipulating DataFrames with pandas
- Merging DataFrames with pandas

Of the tools, techniques and concepts in the above DataCamp courses, this challenge should require the application of the following:
- **pandas**
    - **data ingestion and inspection** (pandas Foundations, Module One)
    - **exploratory data analysis** (pandas Foundations, Module Two)
    - **tidying and cleaning** (Manipulating DataFrames with pandas, Module Three)
    - **transforming DataFrames** (Manipulating DataFrames with pandas, Module One)
    - **subsetting DataFrames with lists** (Manipulating DataFrames with pandas, Module One)
    - **filtering DataFrames** (Manipulating DataFrames with pandas, Module One)
    - **grouping data** (Manipulating DataFrames with pandas, Module Four)
    - **melting data** (Manipulating DataFrames with pandas, Module Three)
    - **advanced indexing** (Manipulating DataFrames with pandas, Module Four)
- **matplotlib** (Intermediate Python for Data Science, Module One)
- **fundamental data types** (Data Types for Data Science, Module One)
- **dictionaries** (Intermediate Python for Data Science, Module Two)
- **handling dates and times** (Data Types for Data Science, Module Four)
- **function definition** (Python Data Science Toolbox - Part One, Module One)
- **default arguments, variable length, and scope** (Python Data Science Toolbox - Part One, Module Two)
- **lambda functions and error handling** (Python Data Science Toolbox - Part One, Module Four)

## The Data Science Pipeline

This is Tier Three, so we'll get you started. But after that, it's all in your hands! When you feel done with your investigations, look back over what you've accomplished, and prepare a quick presentation of your findings for the next mentor meeting.

Data Science is magical. In this case study, you'll get to apply some complex machine learning algorithms. But as  [David Spiegelhalter](https://www.youtube.com/watch?v=oUs1uvsz0Ok) reminds us, there is no substitute for simply **taking a really, really good look at the data.** Sometimes, this is all we need to answer our question.

Data Science projects generally adhere to the four stages of Data Science Pipeline:
1. Sourcing and loading
2. Cleaning, transforming, and visualizing
3. Modeling
4. Evaluating and concluding

### 1. Sourcing and Loading

Any Data Science project kicks off by importing  ***pandas***. The documentation of this wonderful library can be found [here](https://pandas.pydata.org/). As you've seen, pandas is conveniently connected to the [Numpy](http://www.numpy.org/) and [Matplotlib](https://matplotlib.org/) libraries.

***Hint:*** This part of the data science pipeline will test those skills you acquired in the pandas Foundations course, Module One.

#### 1.1. Importing Libraries

In [1]:
# Let's import the pandas, numpy libraries as pd, and np respectively.
import pandas as pd
import numpy as np
# Load the pyplot collection of functions from matplotlib, as plt
from matplotlib import pyplot as plt

#### 1.2.  Loading the data
Your data comes from the [London Datastore](https://data.london.gov.uk/): a free, open-source data-sharing portal for London-oriented datasets.

In [2]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file.
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

### 2. Cleaning, transforming, and visualizing
This second stage is arguably the most important part of any Data Science project. The first thing to do is take a proper look at the data. Cleaning forms the majority of this stage, and can be done both before or after Transformation.

The end goal of data cleaning is to have tidy data. When data is tidy:

1. Each variable has a column.
2. Each observation forms a row.

Keep the end goal in mind as you move through this process, every step will take you closer.



***Hint:*** This part of the data science pipeline should test those skills you acquired in:
- Intermediate Python for data science, all modules.
- pandas Foundations, all modules.
- Manipulating DataFrames with pandas, all modules.
- Data Types for Data Science, Module Four.
- Python Data Science Toolbox - Part One, all modules

**2.1. Exploring your data**

Think about your pandas functions for checking out a dataframe.

In [3]:
print(properties.info())
print(properties.shape)
print(properties.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349 entries, 0 to 348
Data columns (total 49 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            348 non-null    datetime64[ns]
 1   City of London        349 non-null    object
 2   Barking & Dagenham    349 non-null    object
 3   Barnet                349 non-null    object
 4   Bexley                349 non-null    object
 5   Brent                 349 non-null    object
 6   Bromley               349 non-null    object
 7   Camden                349 non-null    object
 8   Croydon               349 non-null    object
 9   Ealing                349 non-null    object
 10  Enfield               349 non-null    object
 11  Greenwich             349 non-null    object
 12  Hackney               349 non-null    object
 13  Hammersmith & Fulham  349 non-null    object
 14  Haringey              349 non-null    object
 15  Harrow                349 non-null    object
 16  Havering              349 non-null    object
 17  Hillingdon            349 non-null    object
 18  Hounslow              349 non-null    object
 19  Islington             349 non-null    object
 20  Kensington & Chelsea  349 non-null    object
 21  Kingston upon Thames  349 non-null    object
 22  Lambeth               349 non-null    object
 23  Lewisham              349 non-null    object
 24  Merton                349 non-null    object
 25  Newham                349 non-null    object
 26  Redbridge             349 non-null    object
 27  Richmond upon Thames  349 non-null    object
 28  Southwark             349 non-null    object
 29  Sutton                349 non-null    object
 30  Tower Hamlets         349 non-null    object
 31  Waltham Forest        349 non-null    object
 32  Wandsworth            349 non-null    object
 33  Westminster           349 non-null    object
 34  Unnamed: 34           0 non-null      float64
 35  Inner London          349 non-null    object
 36  Outer London          349 non-null    object
 37  Unnamed: 37           0 non-null      float64
 38  NORTH EAST            349 non-null    object
 39  NORTH WEST            349 non-null    object
 40  YORKS & THE HUMBER    349 non-null    object
 41  EAST MIDLANDS         349 non-null    object
 42  WEST MIDLANDS         349 non-null    object
 43  EAST OF ENGLAND       349 non-null    object
 44  LONDON                349 non-null    object
 45  SOUTH EAST            349 non-null    object
 46  SOUTH WEST            349 non-null    object
 47  Unnamed: 47           0 non-null      float64
 48  England               349 non-null    object
dtypes: datetime64[ns](1), float64(3), object(45)
memory usage: 133.7+ KB
None
(349, 49)
  Unnamed: 0 City of London Barking & Dagenham       Barnet       Bexley  \
0        NaT      E09000001          E09000002    E09000003    E09000004
1 1995-01-01    91448.98487         50460.2266  93284.51832  64958.09036
2 1995-02-01    82202.77314        51085.77983  93190.16963  64787.92069
3 1995-03-01    79120.70256        51268.96956  92247.52435  64367.49344
4 1995-04-01    77101.20804        53133.50526  90762.87492  64277.66881

         Brent      Bromley       Camden      Croydon       Ealing  ...  \
0    E09000005    E09000006    E09000007    E09000008    E09000009  ...
1  71306.56698  81671.47692  120932.8881  69158.16225  79885.89069  ...
2  72022.26197  81657.55944  119508.8622  68951.09542  80897.06551  ...
3  72015.76274  81449.31143  120282.2131  68712.44341  81379.86288  ...
4  72965.63094  81124.41227   120097.899  68610.04641  82188.90498  ...

    NORTH WEST YORKS & THE HUMBER EAST MIDLANDS WEST MIDLANDS EAST OF ENGLAND  \
0    E12000002          E12000003     E12000004     E12000005       E12000006
1  43958.48001        44803.42878   45544.52227   48527.52339      56701.5961
2  43925.42289        44528.80721   46051.57066   49341.29029     56593.59475
3   44434.8681        45200.46775   45383.82395   49442.17973     56171.18278
4   44267.7796        45614.34341   46124.23045   49455.93299     56567.89582

        LONDON   SOUTH EAST   SOUTH WEST Unnamed: 47      England
0    E12000007    E12000008    E12000009         NaN    E92000001
1  74435.76052  64018.87894   54705.1579         NaN  53202.77128
2  72777.93709  63715.02399  54356.14843         NaN   53096.1549
3  73896.84204  64113.60858  53583.07667         NaN   53201.2843
4  74455.28754  64623.22395  54786.01938         NaN   53590.8548

[5 rows x 49 columns]

**2.2. Cleaning the data**

You might find you need to transpose your dataframe, check out what its row indexes are, and reset the index. You  also might find you need to assign the values of the first row to your column headings  . (Hint: recall the .columns feature of DataFrames, as well as the iloc[] method).

Don't be afraid to use StackOverflow for help  with this.

In [13]:
prop_tp = properties.transpose()
prop_tp = prop_tp.reset_index()
prop_tp.columns = prop_tp.iloc[0]
prop_clean = prop_tp[1:]
prop_clean.head()

,Unnamed: 0,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,...,2023-03-01 00:00:00,2023-04-01 00:00:00,2023-05-01 00:00:00,2023-06-01 00:00:00,2023-07-01 00:00:00,2023-08-01 00:00:00,2023-09-01 00:00:00,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00
1,City of London,E09000001,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,...,926023,900447,960485,995816,973945,909574,886619,884062,839079,802168
2,Barking & Dagenham,E09000002,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,...,343471,346218,347481,343944,341264,341115,338301,338600,343037,340485
3,Barnet,E09000003,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,...,597927,588354,572839,569078,574332,584285,587519,581031,582184,577548
4,Bexley,E09000004,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,...,395215,394399,388948,387261,390037,388763,389314,383637,386701,377926
5,Brent,E09000005,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,74127.03788,73547.0411,...,529085,530652,528250,528734,523159,544681,546336,558495,546598,526198

**2.3. Cleaning the data (part 2)**

You might we have to **rename** a couple columns. How do you do this? The clue's pretty bold...

In [5]:
prop_clean = prop_clean.rename(columns={'Unnamed: 0': 'London_Borough', pd.NaT:'Code'})
prop_clean.head()

,London_Borough,Code,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,...,2023-03-01 00:00:00,2023-04-01 00:00:00,2023-05-01 00:00:00,2023-06-01 00:00:00,2023-07-01 00:00:00,2023-08-01 00:00:00,2023-09-01 00:00:00,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00
1,City of London,E09000001,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,...,926023,900447,960485,995816,973945,909574,886619,884062,839079,802168
2,Barking & Dagenham,E09000002,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,...,343471,346218,347481,343944,341264,341115,338301,338600,343037,340485
3,Barnet,E09000003,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,...,597927,588354,572839,569078,574332,584285,587519,581031,582184,577548
4,Bexley,E09000004,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,...,395215,394399,388948,387261,390037,388763,389314,383637,386701,377926
5,Brent,E09000005,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,74127.03788,73547.0411,...,529085,530652,528250,528734,523159,544681,546336,558495,546598,526198

**2.4.Transforming the data**

Remember what Wes McKinney said about tidy data?

You might need to **melt** your DataFrame here.

In [6]:
prop_tidy =  pd.melt(prop_clean,id_vars=['London_Borough','Code'],var_name='Month',value_name='Average_Price')
prop_tidy.head()

       London_Borough       Code      Month Average_Price
0      City of London  E09000001 1995-01-01   91448.98487
1  Barking & Dagenham  E09000002 1995-01-01    50460.2266
2              Barnet  E09000003 1995-01-01   93284.51832
3              Bexley  E09000004 1995-01-01   64958.09036
4               Brent  E09000005 1995-01-01   71306.56698

Remember to make sure your column data types are all correct. Average prices, for example, should be floating point numbers...

In [7]:
prop_tidy['Average_Price']= pd.to_numeric(prop_tidy['Average_Price'])
prop_tidy.dtypes

London_Borough            object
Code                      object
Month             datetime64[ns]
Average_Price            float64
dtype: object

**2.5. Cleaning the data (part 3)**

Do we have an equal number of observations in the ID, Average Price, Month, and London Borough columns? Remember that there are only 32 London Boroughs. How many entries do you have in that column?

Check out the contents of the London Borough column, and if you find null values, get rid of them however you see fit.

In [8]:
print(prop_tidy.shape)
prop_tidy['London_Borough'].unique()

(16704, 4)

array(['City of London', 'Barking & Dagenham', 'Barnet', 'Bexley',
       'Brent', 'Bromley', 'Camden', 'Croydon', 'Ealing', 'Enfield',
       'Greenwich', 'Hackney', 'Hammersmith & Fulham', 'Haringey',
       'Harrow', 'Havering', 'Hillingdon', 'Hounslow', 'Islington',
       'Kensington & Chelsea', 'Kingston upon Thames', 'Lambeth',
       'Lewisham', 'Merton', 'Newham', 'Redbridge',
       'Richmond upon Thames', 'Southwark', 'Sutton', 'Tower Hamlets',
       'Waltham Forest', 'Wandsworth', 'Westminster', 'Unnamed: 34',
       'Inner London', 'Outer London', 'Unnamed: 37', 'NORTH EAST',
       'NORTH WEST', 'YORKS & THE HUMBER', 'EAST MIDLANDS',
       'WEST MIDLANDS', 'EAST OF ENGLAND', 'LONDON', 'SOUTH EAST',
       'SOUTH WEST', 'Unnamed: 47', 'England'], dtype=object)

In [9]:
london_boroughs=['Barking & Dagenham', 'Barnet', 'Bexley','Brent', 'Bromley', 'Camden', 'Croydon', 'Ealing', 'Enfield', 'Greenwich', 'Hackney', 'Hammersmith & Fulham', 'Haringey', 'Harrow', 'Havering', 'Hillingdon','Hounslow', 'Islington', 'Kensington & Chelsea', 'Kingston upon Thames', 'Lambeth','Lewisham', 'Merton', 'Newham','Redbridge', 'Richmond upon Thames','Southwark', 'Sutton','Tower Hamlets', 'Waltham Forest', 'Wandsworth', 'Westminster']
prop_tidy = prop_tidy[prop_tidy['London_Borough'].isin(london_boroughs)]
print(prop_tidy.shape)
prop_tidy['London_Borough'].unique()

(11136, 4)

array(['Barking & Dagenham', 'Barnet', 'Bexley', 'Brent', 'Bromley',
       'Camden', 'Croydon', 'Ealing', 'Enfield', 'Greenwich', 'Hackney',
       'Hammersmith & Fulham', 'Haringey', 'Harrow', 'Havering',
       'Hillingdon', 'Hounslow', 'Islington', 'Kensington & Chelsea',
       'Kingston upon Thames', 'Lambeth', 'Lewisham', 'Merton', 'Newham',
       'Redbridge', 'Richmond upon Thames', 'Southwark', 'Sutton',
       'Tower Hamlets', 'Waltham Forest', 'Wandsworth', 'Westminster'],
      dtype=object)

**2.6. Visualizing the data**

To visualize the data, why not subset on a particular London Borough? Maybe do a line plot of Month against Average Price?

To limit the number of data points you have, you might want to extract the year from every month value your *Month* column.

To this end, you *could* apply a ***lambda function***. Your logic could work as follows:
1. look through the `Month` column
2. extract the year from each individual value in that column
3. store that corresponding year as separate column.

Whether you go ahead with this is up to you. Just so long as you answer our initial brief: which boroughs of London have seen the greatest house price increase, on average, over the past two decades?

In [10]:
prop_tidy['Year'] = prop_tidy['Month'].apply(lambda x: x.year)
dfg = prop_tidy.groupby(by=['London_Borough','Year']).mean()
dfg = dfg.reset_index()
dfg.tail()

<ipython-input-10-666d41a9dc7e>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dfg = prop_tidy.groupby(by=['London_Borough','Year']).mean()

    London_Borough  Year  Average_Price
923    Westminster  2019   9.559986e+05
924    Westminster  2020   9.604692e+05
925    Westminster  2021   9.627774e+05
926    Westminster  2022   1.016767e+06
927    Westminster  2023   1.006072e+06

**3. Modeling**

Consider creating a function that will calculate a ratio of house prices, comparing the price of a house in 2018 to the price in 1998.

Consider calling this function create_price_ratio.

You'd want this function to:
1. Take a filter of dfg, specifically where this filter constrains the London_Borough, as an argument. For example, one admissible argument should be: dfg[dfg['London_Borough']=='Camden'].
2. Get the Average Price for that Borough, for the years 1998 and 2018.
4. Calculate the ratio of the Average Price for 1998 divided by the Average Price for 2018.
5. Return that ratio.

Once you've written this function, you ultimately want to use it to iterate through all the unique London_Boroughs and work out the ratio capturing the difference of house prices between 1998 and 2018.

Bear in mind: you don't have to write a function like this if you don't want to. If you can solve the brief otherwise, then great!

***Hint***: This section should test the skills you acquired in:
- Python Data Science Toolbox - Part One, all modules

In [11]:
def creat_price_ratio(borough):
  bor=dfg[dfg['London_Borough']==borough]
  start=bor[bor['Year']==1998]['Average_Price'].iloc[0]
  final=bor[bor['Year']==2018]['Average_Price'].iloc[0]
  return final/start

In [12]:
borough_ratios={}
for borough in london_boroughs:
  ratio=creat_price_ratio(borough)
  borough_ratios[borough]=ratio
ratios=pd.DataFrame.from_dict(borough_ratios,orient='index').sort_values(0,ascending=False)
ratios

                             0
Hackney               6.198286
Waltham Forest        5.834756
Southwark             5.516485
Lewisham              5.449221
Westminster           5.353565
Newham                5.305390
Haringey              5.134625
Kensington & Chelsea  5.082465
Lambeth               4.957751
Camden                4.935353
Barking & Dagenham    4.896619
Brent                 4.894554
Islington             4.844048
Greenwich             4.763036
Wandsworth            4.757709
Merton                4.741273
Tower Hamlets         4.626701
Redbridge             4.471182
Barnet                4.358196
Havering              4.325230
Ealing                4.311451
Kingston upon Thames  4.270550
Enfield               4.263472
Bexley                4.248977
Croydon               4.201100
Hillingdon            4.200273
Hammersmith & Fulham  4.137798
Sutton                4.118523
Bromley               4.094785
Harrow                4.059196
Richmond upon Thames  4.005162
Hounslow              3.976409

### 4. Conclusion
Hackney had the greatest increase in value relative to its starting value.



Look back at your notebook. Think about how you might summarize what you have done, and prepare a quick presentation on it to your mentor at your next meeting.

We hope you enjoyed this practical project. It should have consolidated your data hygiene and pandas skills by looking at a real-world problem involving just the kind of dataset you might encounter as a budding data scientist. Congratulations, and looking forward to seeing you at the next step in the course!